.header.content
  div
    h2 Dashboard
    date-range-picker-control(lookup='filter', after="{ parentData.get('orgs')[parentData.get('activeOrg')].createdAt }")

.tables.content
  div
    daisho-list
      .cell
